<%= bootstrap_form_for_tag messages_path, layout: :horizontal do |form| %>
    <div class="container border-bottom border-secondary mb-3">
      <h2 class="text-light text-center">Contact Me</h2>    
    </div>
  <% person_icon = capture do %>
    <i class="bi bi-person-circle bg-secondary text-light"></i>
  <% end %>
  <% email_icon = capture do %>
    <i class="bi bi-at"></i>
  <% end %>
  <%= form.text_field_tag :first_name, prepend: person_icon, hide_label: true, layout: :inline %>
  <%= form.email_field_tag :email, prepend: email_icon, hide_label: true, layout: :inline %>
  <%= form.text_area_tag :body, rows: 6, hide_label: true, layout: :inline %>
  <%= form.submit "Send", class: "btn btn-secondary w-100 mb-3" %>
  <div class="container border-bottom border-secondary mb-3"></div>
<% end%>