<%= turbo_frame_tag "turbo-social-content" do %>
  <div class="card h-100 bg-dark text-light justify-content-start position-relative">
      <div class="card-body d-flex flex-column">
        <div class="d-flex flex-column flex-md-row justify-content-md-between mb-3">
          <%= render "socials/content/#{@social.name}/user_info" %>
          <%= render "socials/content/#{@social.name}/badge_info" %>
        </div>
        <div data-controller="social-content" 
             data-action="resize@window->social-content#overflowSize"
             class="py-0 px-1 overflow-y-scroll"
             id="social-content-container">
                 <%= render "socials/content/#{@social.name}/content_info"%>
        </div>
      </div>
  </div>
  <%= render "/layouts/navigation/new_tab_link" %>
<% end %>