<div class="card col-sm-5 col-lg-3 h-100 p-0 mx-1">
  <div class="card-header p-1 d-flex align-items-center justify-content-center">
    <%= link_to project, class: "text-decoration-none text-secondary fst-italic" do %>
      <%= project.name %>
    <% end %>
  </div>
  <div class="card-body p-1 h-75">
    <div class="card-text">
      <p><%= project.description %></p>
    </div>
  </div>
  <div class="card-footer p-2 d-flex flex-row justify-content-evenly align-items-center">
    <% if project.deployed_url != "" %>
    <% then %>
      <%= link_to project.deployed_url, 
          :target => "_blank" do %>
        <i class="bi bi-link-45deg text-secondary"></i>
      <% end %>
    <% end %>
    <%= link_to project.git_url,
        :target => "_blank" do %>
      <i class="bi bi-github text-secondary"></i>
    <% end %>
  </div>
</div>
