<div class="card m-1 col-5 col-md-4 col-lg-3 h-100 d-flex flex-column p-0">
  <div class="card-header text-center  fst-italic">
    <%= link_to project, class: "text-decoration-none text-secondary" do %>
      <%= project.name %>
    <% end %>
  </div>
  <div class="card-body flex-fill flex-grow-1">
    <div class="card-text">
      <p><%= project.description %></p>
    </div>
  </div>
  <div class="card-footer p-0 d-flex flex-row justify-content-evenly align-items-center">
    <% project_url = project.deployed_url %>
    <% if project_url != "" %>
    <% then %>
      <%= link_to project_url, 
          :target => "_blank" do %>
        <i class="bi bi-link-45deg text-secondary"></i>
      <% end %>
    <% end %>
    <%= link_to project.git_url,
        :target => "_blank" do %>
      <i class="bi bi-github text-secondary"></i>
    <% end %>
  </div>
</div>
