<div class="d-flex flex-column" id="git-repos">
  <% @github_repos.each do |repo| %>
    <%= link_to repo["html_url"], target: "_blank", class: "text-decoration-none" do %>
      <div class="card p-0 my-1">
        <div class="card-header">
          <%= repo["name"] %>
        </div>
        <% if repo["description"] != nil %>
          <div class="card-body text-center small py-1">
            <%= repo["description"] %>
          </div>
          <% end %>
        <div class="card-footer d-flex justify-content-between align-items-center fw-lighter fs-three_quarter p-1">
          <div class="fs-three_quarter ps-1">
            <% @github_repo_tags[repo["name"]].each do |language|
             %>
              <span class="bg-secondary text-light rounded px-1"><%= language %></span>
            <% end %>
          </div>
          <div class="fst-italic pe-1">
            <%= repo_updated repo %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>